{% extends "base.html" %} {% block title %} Concerts {% endblock %}
{% load static %}
{% block content %}
<p> this is the Concerts page </p>
<div>
    {% for concert in concerts %}
    <div>
        <img  src="{% static concert.cover_photo_url %}" alt="concert cover photo">
        <h2>
            {{concert.title}}
        </h2>
        <strong>{{concert.place}}, {{concert.date}}</strong>
        <p>
            {{concert.description}}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock %}